* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #CE4676;
    color: #fff;
    width: 100%; 
}

.logo {
    height: 80px;
}

nav ul {
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.productos-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 2%;
    width: 80%;
}

.card-producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card-producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carrito {
    position: fixed;
    top: 150px;
    right: 20px;
    width: 18%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

main h1 {
    padding: 2%
}
